<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">


<dom-module id="drawing-view">
    <template>
        <style>

            #drawingCanvas {
                visibility: hidden;
                position: absolute;
                top: 0px;
                left: 50px;
                right: 50px;
                width: 100%;
            }

            #content {
            }

            #fabDraw {
                position: fixed;
                left: 10px;
                bottom: 50%;
                background: green;
            }

        </style>


        <paper-fab mini id="fabDraw" icon="create" label="derp" on-click="toggleCanvas"></paper-fab>

        <canvas id="drawingCanvas"></canvas>

        <div id="content">

            <h2>Drawing test:</h2>
            <button on-click="connectWebsocket">Connect</button>
            <br>
            <button on-click="disconnectWebsocket">Disconnect</button>
            <br>
            <button on-click="sendHello">Send Hello</button>
            <br>
            <br>
            <span>(see console)</span>
            <br>
            <br>
            <span id="result"></span>

        </div>


    </template>
    <script>
        class DrawingView extends Polymer.Element {
            static get is() {
                return 'drawing-view';
            }

            ready() {
                super.ready();

                //window.addEventListener("mousedown", this);
                this.labelcooldown = false;
                this.pathRepository = [];


                paper.install(this);
                paper.setup(this.$.drawingCanvas);


                let tool = new paper.Tool();
                let currentPath = new paper.Path();

                // Define a mousedown, mousedrag and mouseup handler
                tool.onMouseDown = (event) => {
                    currentPath = new paper.Path();
                    currentPath.strokeColor = 'red';
                    currentPath.strokeWidth = 4;
                    currentPath.add(event.point);
                };

                tool.onMouseDrag = (event) => {
                    currentPath.add(event.point);

                };

                tool.onMouseUp = (event) => {
                    //

                    let currentPathObject = {owner: 'self', color: 'red', points: []};
                    //translate point (currentPath.segments.[1]=x & [2]=y) to relative point against screen size: (works with identicle browsers...)
                    let windowWidth = window.innerWidth;
                    let windowHeight = window.innerHeight;
                    currentPath.segments.forEach((data) => {

                        currentPathObject.points.push([data.point.x / windowWidth, data.point.y / windowHeight]);

                    });

                    //add to repo
                    this.pathRepository.push(currentPathObject);
                    //remove last drawn Path from canvas:
                    currentPath.remove();
                    //repaint the hole thing
                    this.repaintPathRepository();
                    //send new Path to Websocket:
                    this.sendPathToWebsocket(currentPathObject);
                };

            }

            repaintPathRepository() {
                //clear everything:
                paper.project.activeLayer.removeChildren();
                //repaint
                let windowWidth = window.innerWidth;
                let windowHeight = window.innerHeight;
                this.pathRepository.forEach((pathObject) => {

                    let path = new paper.Path();
                    //show owner label on hover
                    path.onMouseEnter = (event) => {
                        //check canvas is visible & label not on cooldown:
                        if (this.$.drawingCanvas.style.visibility === 'visible' && !this.labelcooldown) {
                            this.labelcooldown = true;

                            console.log("path entered at: ", event.point);
                            //create label:
                            /*let label = new paper.Path.Rectangle(event.point, new paper.Size(100, 20));
                            label.strokeColor = pathObject.color;
                            label.fillColor = 'grey';
                            pathObject.label = label;*/
                            //create label text
                            let labelText = new paper.PointText(label.center);
                            labelText.content = pathObject.owner;
                            labelText.style = {
                                fontFamily: 'Courier New',
                                fontWeight: 'bold',
                                fontSize: 14,
                                /*fillColor: 'red',*/
                                justification: 'center'
                            };
                            pathObject.labelText = labelText;

                            //label show delay:
                            setTimeout(() => {
                                this.labelcooldown = false;
                            }, 1000); //delay new
                        }
                    };

                    path.onMouseLeave = (event) => {
                        if (this.$.drawingCanvas.style.visibility === 'visible') {


                            console.log("path left at: ", event.point);
                            setTimeout(() => { //delay removal of label 750 msec.
                                pathObject.labelText.remove();

                            }, 750);


                        }
                    };
                    pathObject.points.forEach((data) => {

                        path.add(new paper.Point(data[0] * windowWidth, data[1] * windowHeight));
                    });
                    path.strokeColor = pathObject.color;
                    path.strokeWidth = 4;
                });
            }

            toggleCanvas() {
                this.$.drawingCanvas.style.visibility = this.$.drawingCanvas.style.visibility === 'visible' ? 'hidden' : 'visible';
                this.$.fabDraw.icon = this.$.fabDraw.icon === "create" ? 'close' : 'create';
                this.$.fabDraw.style.background = this.$.fabDraw.icon === 'create' ? 'green' : 'red';
            }

            connectWebsocket() {
                let socket = new SockJS('/chat');
                this.stompClient = webstomp.over(socket);

                this.stompClient.connect({}, (client) => {
                    console.log('Connected: ' + client);
                    this.stompClient.subscribe('/subscribe/hello', (data) => {
                        console.log("GOT: ", data.body);
                        this.$.result.textContent = data.body;
                    });
                    this.stompClient.subscribe('/subscribe/drawing', (data) => {

                        let pathObject = JSON.parse(data.body);
                        console.log("got", pathObject);
                        this.pathRepository.push(pathObject);
                        this.repaintPathRepository();
                    });
                });
            }

            disconnectWebsocket() {
                if (this.stompClient !== undefined) {
                    this.stompClient.disconnect();
                }
                console.log("Disconnected");
            }

            sendPathToWebsocket(pathObject) {

                if (this.stompClient !== undefined && this.stompClient.connected) {
                    console.log("send path.");
                    this.stompClient.send('/client/drawing', JSON.stringify(pathObject));
                } else {
                    console.log("not connected!");
                }

            }

            sendHello() {
                if (this.stompClient.connected) {
                    console.log("send hello.");
                    this.stompClient.send("/client/hello", {}, JSON.stringify({text: "wuppifluppi"}));
                } else {
                    console.log("not connected!");
                }
            }


        }

        window.customElements.define(DrawingView.is, DrawingView);
    </script>
</dom-module>