<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">


<dom-module id="drawing-view">
    <template>
        <style>

            #drawingCanvas {
                visibility: hidden;
                position: absolute;
                top: 0px;
                left: 50px;
                right: 50px;
                width: 100%;
            }

            #content {
            }

            #fabDraw {
                position: fixed;
                left: 10px;
                bottom: 50%;
                background: green;
            }

        </style>


        <paper-fab mini id="fabDraw" icon="create" label="derp" on-click="toggleCanvas"></paper-fab>

        <canvas id="drawingCanvas"></canvas>

        <div id="content">

            <h2>Drawing test:</h2>
            <button on-click="connectWebsocket">Connect</button>
            <br>
            <button on-click="disconnectWebsocket">Disconnect</button>
            <br>
            <button on-click="sendHello">Send Hello</button>
            <br>
            <br>
            <span>(see console)</span>
            <br>
            <br>
            <span id="result"></span>

        </div>


    </template>
    <script>
        class DrawingView extends Polymer.Element {
            static get is() {
                return 'drawing-view';
            }

            ready() {
                super.ready();

                //window.addEventListener("mousedown", this);

                this.pathRepository = [];


                paper.install(this);
                paper.setup(this.$.drawingCanvas);


                let tool = new paper.Tool();
                let currentPath = new paper.Path();

                // Define a mousedown, mousedrag and mouseup handler
                tool.onMouseDown = (event) => {
                    currentPath = new paper.Path();
                    currentPath.strokeColor = 'red';
                    currentPath.add(event.point);
                };

                tool.onMouseDrag = (event) => {
                    currentPath.add(event.point);

                };

                tool.onMouseUp = (event) => {
                    let currentPathObject = {owner: 'self', color: 'red', path: currentPath};
                    //add to repo
                    this.pathRepository.push(currentPathObject);
                    //remove last drawn Path from canvas:
                    currentPath.remove();
                    //repaint the hole thing
                    this.repaintPathRepository();
                    //send new Path to Websocket:
                    this.sendPathToWebsocket(currentPathObject);
                };

            }

            repaintPathRepository() {
                //clear everything:
                paper.project.activeLayer.removeChildren();
                //repaint
                this.pathRepository.forEach((pathObject) =>{
                    //TODO: ignore owner for now....

                    let path = pathObject.path;
                    path.strokeColor = pathObject.color;
                    paper.project.activeLayer.addChild(path);

                });
            }

            toggleCanvas() {
                this.$.drawingCanvas.style.visibility = this.$.drawingCanvas.style.visibility === 'visible' ? 'hidden' : 'visible';
                this.$.fabDraw.icon = this.$.fabDraw.icon === "create" ? 'close' : 'create';
                this.$.fabDraw.style.background = this.$.fabDraw.icon === 'create' ? 'green' : 'red';
            }

            /*
            handleEvent(event) {
                switch (event.type) {
                    case "mousedown":
                        console.log("DRAG START");
                        window.addEventListener("mousemove", this);
                        window.addEventListener("mouseup", this);
                        break;

                    case "mouseup":
                        console.log("DRAGEND - " + this.paths.length);
                        this.paths.push(this.currentPath);
                        this.currentPath = [];
                        window.removeEventListener("mousemove", this);
                        window.removeEventListener("mouseup", this);
                        break;

                    case "mousemove":
                        //save current position
                        console.log("RAW: ", event.clientX + " | " + event.clientY)
                        let currentPoint = new Two.Vector(event.clientX, event.clientY);//{x: event.clientX, y: event.clientY};
                        this.currentPath.push(currentPoint);

                        //draw current line:
                        let curve = this.two.makeCurve(this.currentPath,true);
                        curve.linewidth = 2;

                        this.two.update();

                        break;
                    default:
                        console.log("unknown event oO?");
                        return;
                }
            }*/

            connectWebsocket() {
                let socket = new SockJS('/chat');
                this.stompClient = webstomp.over(socket);

                this.stompClient.connect({}, (client) => {
                    console.log('Connected: ' + client);
                    this.stompClient.subscribe('/subscribe/hello', (data) => {
                        console.log("GOT: ", data.body);
                        this.$.result.textContent = data.body;
                    });
                });
            }

            disconnectWebsocket() {
                if (this.stompClient !== null) {
                    this.stompClient.disconnect();
                }
                console.log("Disconnected");
            }

            sendPathToWebsocket(pathObject){

            }

            sendHello() {
                console.log("Hello!", true);
                this.stompClient.send("/client/hello", {}, JSON.stringify({text: "wuppifluppi"}));
            }


        }

        window.customElements.define(DrawingView.is, DrawingView);
    </script>
</dom-module>