<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/main-nav.html">
<link rel="import" href="../components/main-footer.html">

<dom-module id="main-view">
    <template>
        <main-nav id="main-nav"></main-nav>
        <slot></slot>
        <main-footer></main-footer>
    </template>
    <script>
        class MainView extends Polymer.Element {
            static get is(){
                return 'main-view';
            }
        }
        window.customElements.define(MainView.is, MainView);
    </script>
</dom-module>