<link rel="import" href="../bower_components/polymer/polymer-element.html">



<dom-module id="register-view">
    <template>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">



    </template>
    <script>
        class RegisterView extends Polymer.Element {
            static get is(){
                return 'register-view';
            }
        }
        window.customElements.define(RegisterView.is, RegisterView);
    </script>
</dom-module>