/* Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_blog */

* {
    box-sizing: border-box;
}

body {
    /*font-family: Arial;*/
    padding: 10px;
    background: #f1f1f1;
}

.container {
    position: relative;
    min-height: 100%;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

}

.header h1 {
    font-size: 50px;
    color: #f2f2f2;

}

/* Style the top navigation bar */
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.topnav li {
    float: left;
}

/* Style the topnav links */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .active {
    background-color: #2cb5e8;
}

.content {
    padding-bottom:100px;
}

/* Footer */
.footer {
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
    background:#6cf;
}