<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="../bower_components/vaadin-tabs/theme/material/vaadin-tabs.html">
<link rel="import" href="../bower_components/vaadin-button/theme/material/vaadin-button.html">

<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<!-- Account Menu -->
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">


<dom-module id="app-navigation">
    <template>
        <style include="shared-styles">

            .headerLogo {
                left: 20px;
                position: absolute;

            }


            #accountsettings {
                @apply --layout-horizontal;
                @apply --layout-center-center;
                right: 20px;
                position: absolute;
                margin-left: 20px;
            }


            #dropdown-list {
                @apply --layout-vertical;
            }

            .menu {
                @apply --layout-horizontal;
                @apply --layout-center-center;
                width: 100%;
                background-color: var(--menu-navigation-background);
                /*height: 60px;*/

            }

            .submenu {
                display: none;
                /*@apply --layout-horizontal;*/
                @apply --layout-center-center;
                width: 100%;
                background-color: var(--menu-submenu-background);
            }

            vaadin-button {
                margin-left: 20px;
            }

            #menu-tabs {
                align-self: flex-end;
            }

            vaadin-tab {
                padding: 30px;
                font-size: 16px;
            }

            vaadin-button {
                font-size: 16px;
            }

            .submenu  vaadin-tab{
                padding: 20px;
                font-size: 12px;
            }


            .headerLogo > img {
                padding-top: 4px;
            }
        </style>

        <div class="menu">

            <div class="headerLogo">
                <img src="../frontend/images/logo/logoH.png" alt="Veraplan Logo" height="50px">
            </div>


            <vaadin-tabs id="menu-tabs" selected="0">
                <!-- main menu-tabs injected here -->
            </vaadin-tabs>

            <!-- show login/register buttons: -->
            <div id="accountsettings">
                <template is="dom-if" if="[[!isLoggedIn]]">
                    <vaadin-button
                            theme="contained"
                            onclick="document.querySelector('login-view').showLoginDialog()">
                        Login
                    </vaadin-button>

                    <vaadin-button
                            theme="outlined"
                            on-click="showRegisterDialog">
                        Registrieren
                    </vaadin-button>
                </template>

                <!-- Show user drop-down menu -->
                <template is="dom-if" if="[[isLoggedIn]]">
                    <span></span>
                    <paper-menu-button horizontal-align=right no-overlap>
                        <vaadin-button slot="dropdown-trigger">
                            <iron-icon icon="menu" slot="suffix"></iron-icon>
                            [[userName]]
                        </vaadin-button>
                        <paper-listbox slot="dropdown-content" id="dropdown-list">
                            <!-- TODO: setComponent Profile - implement other entries - setComponent settings to data-model!
                            -->
                            <slot name="user-menu"></slot>

                        </paper-listbox>
                    </paper-menu-button>
                </template>

                </paper-menu-button>

            </div>
        </div>

        <!-- optional submenu: -->
        <div class="submenu" id="sub-menu">

            <vaadin-tabs id="submenu-tabs" selected="-1">
                <!-- sub menu-tabs injected here -->
            </vaadin-tabs>
        </div>
    </template>
    <script>
        class AppNavigation extends Polymer.Element {
            static get is() {
                return 'app-navigation';
            }

            // static get properties() {
            //     return {
            //         menutabs: {
            //             type: Array,
            //             value: [],
            //             notify: true
            //         },
            //         submenutabs: {
            //             type: Array,
            //             value: [],
            //             notify: true
            //         }
            //     }
            //
            // }
        }

        window.customElements.define(AppNavigation.is, AppNavigation);
    </script>
</dom-module>