<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">

<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<!-- CHAT: -->
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html"/>
<!--<link rel="import" href="../bower_components/vaadin-icons/vaadin-icons.html">-->

<!-- MISC -->
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-scroll-target-behavior/iron-scroll-target-behavior.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">

<link rel="import" href="../bower_components/paper-styles/color.html"/>
<link rel="import" href="../bower_components/vaadin-material-styles/color.html"/>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

<dom-module id="collaboration-toolkit">
    <template>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <style include="shared-styles">

            #wrapper {
                @apply --layout-horizontal;
                width: 100%;
                height: 100%;
            }


            #toggles {
                @apply --layout-self-center;

                @apply --layout-vertical;
                @apply --layout-center-center;

                padding-left: 10px;
                padding-right: 10px;
            }

            #chat {
                @apply --layout-flex;
                /*background: var(--google-grey-300);*/

                /*border: 1px solid var(--chat-header-background);*/

                /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .12);*/
            }

            #collab-sidebar {
                @apply --layout-fixed-left;
                @apply --layout-horizontal;
                top: 18%;
                left: 0;
                bottom: 18%;
                width: 25%;
            }


            #drawingCanvas {
                visibility: hidden;
                @apply --layout-fit;
                width: 100% !important;
                height: 100% !important;
                z-index: 2;
                box-sizing: border-box;
                border: thin inset red;
            }

            #content {
                @apply --layout-flex-none;
                @apply --layout-relative;
                left: 25%;
                width: 75%;
                z-index: 1;
            }

            #controlDraw {

                background: green;

            }

            #chatheader {
                /*@apply --paper-font-caption;*/
                /*@apply --layout-horizontal;*/
                /*@apply --layout-start-justified;*/
                /*@apply --layout-end;*/

                background: var(--chat-header-background);
                color: white;
                height: 10%;

            }

            #chatheader span {
                /*@apply --layout-flex-none;*/
                /*margin*/
            }

            #chatheader i {
                font-size: 55px;
                margin-top: 7px;
                /*margin-bottom: 7px;*/
                /*margin-left: 10px;*/
            }

            #chatbox {
                word-wrap: break-word;
                overflow-y: auto;
                height: 75%;
                padding: 10px;
                background: var(--paper-grey-300);
                font-size: 12px;

            }

            #chatbox div {
                color: var(--paper-grey-500);
                /*margin-bottom: 5px;*/
                /*padding-bottom: 15px;*/
            }

            #chatcontrol {
                height: 10%;
                padding: 10px;

                background: var(--paper-grey-400);
            }

            #messageheader {
                /*@apply --paper-font-caption;*/
                @apply --layout-horizontal;
                @apply --layout-end-justified;
                color: var(--paper-grey-500);
            }

            #chatitem {
                font-size: 14px;
                background: white;
                margin-bottom: 3px;
            }

            .chatChannel {
                margin-bottom: 15px;
            }

            #chatinput iron-icon {
                color: var(--chat-header-background);
            }

            #controlColor {

                --paper-swatch-picker-icon: {


                    border: 1px solid;
                    border-radius: 20%;

                    width: 56px;
                    height: 56px;
                };


                margin-top: 10px;

            }

        </style>

        <div id="wrapper">

            <div id="collab-sidebar">

                <div id="toggles">
                    <paper-fab  id="controlDraw" icon="create" label="derp"
                               on-click="toggleCanvas"></paper-fab>

                    <paper-swatch-picker noink id="controlColor" color="{{selectedColor}}"></paper-swatch-picker>
                </div>

                <div id="chat">
                    <div id="chatheader">

                        <i class="far fa-comments"></i>

                    </div>
                    <div id="chatbox"> <!-- TODO: port to paper-material  -->

                        <div class="chatChannel">Channel: [[channel]]</div>

                        <template id="chatboxtemplate" is="dom-repeat" items="[[messages]]" as="message">


                            <paper-icon-item id="chatitem">
                                <iron-icon icon="account-box" slot="item-icon"
                                           title="{{message.author}}"></iron-icon>
                                {{message.message}}
                            </paper-icon-item>

                            <span id="messageheader">{{message.author}} - at {{message.timestamp}}</span>
                            <br>
                        </template>

                    </div>

                    <div id="chatcontrol">
                        <iron-a11y-keys
                                id="chatEnterSubmit"
                                keys="enter"
                                on-keys-pressed="sendChatMessageToWebsocket">
                        </iron-a11y-keys>
                        <paper-input id="chatinput" placeholder="Type here!" required>
                            <iron-icon icon="send" slot="suffix"
                                       on-click="sendChatMessageToWebsocket"></iron-icon>
                        </paper-input>
                    </div>

                </div>

            </div>


            <div id="content">

                <canvas id="drawingCanvas"></canvas>


                <!-- content injected here -->
                <slot id="slotContent"></slot>
            </div>


        </div>

        <paper-toast id="notification" class="fit-bottom"></paper-toast>

    </template>

    <script>
        class CollaborationToolkit extends Polymer.Element {
            static get is() {
                return 'collaboration-toolkit';
            }

            static get properties() {
                return {
                    stompClient: {
                        type: Object
                    },
                    selectedColor: {
                        type: String,
                        value: '#E91E63'
                    },
                    // channel: {
                    //     type: String,
                    //     value: '1337'
                    // },
                    messages: {
                        type: Array,
                        value: [],
                        notify: true
                    },
                    canvas: {
                        type: Object
                    },
                    dragDropEvent: {
                        type: String,
                        notify: true,
                        observer: 'dragDropEventListener'
                    }
                }
            }

            //lifecycle-callback before properties set
            created() {


                super.created();
            }

            //lifecycle-callback after properties set
            ready() {
                super.ready();

                //load canvas-dimensions and inject paper.js
                window.onload = this.setupCanvas.bind(this, this); //TODO: somewhat wobbly... (sometimes doesnt get called...)

                //initialize drawing gloabal variables
                this.labelcooldown = false;
                this.pathRepository = [];

                //on new message -> scroll chat-window-to-bottom
                this.$.chatboxtemplate.addEventListener('dom-change', (event) => {

                    this.$.chatbox.scrollTop = this.$.chatbox.scrollHeight;
                });

                //start websocket-connection:
                this.connectWebsocket();

            }

            setupCanvas() {
                //get canvas style based width/height
                let canWidth = this.$.drawingCanvas.clientWidth;
                let canHeight = this.$.drawingCanvas.clientHeight;
                //assign style w/h to graphic context w/h
                this.$.drawingCanvas.width = canWidth;
                this.$.drawingCanvas.height = canHeight;
                //initialize paper.js
                this.initPaper();
                //fire repaint because changing dimensions clears canvas...
                this.repaintPathRepository();
            }

            initPaper() {


                paper.install(this);


                paper.setup(this.$.drawingCanvas);

                let tool = new paper.Tool();
                let currentPath = new paper.Path();

                // Define a mousedown, mousedrag and mouseup handler
                tool.onMouseDown = (event) => {
                    currentPath = new paper.Path();
                    currentPath.strokeColor = this.get('selectedColor');
                    currentPath.strokeWidth = 4;
                    currentPath.add(event.point);
                };

                tool.onMouseDrag = (event) => {
                    currentPath.add(event.point);
                };

                tool.onMouseUp = (event) => {
                    let currentPathObject = {owner: this.get('userName'), color: this.get('selectedColor'), points: []};
                    //translate point (currentPath.segments.[1]=x & [2]=y) to relative point against screen size: (works with identical browsers...)
                    let windowWidth = window.innerWidth;
                    let windowHeight = window.innerHeight;
                    currentPath.segments.forEach((data) => {
                        currentPathObject.points.push([data.point.x / windowWidth, data.point.y / windowHeight]);
                    });

                    //setComponent to repo
                    this.pathRepository.push(currentPathObject);
                    //remove last drawn Path from canvas:
                    currentPath.remove();
                    //repaint the hole thing
                    this.repaintPathRepository();
                    //send new Path to Websocket:
                    this.sendPathToWebsocket(currentPathObject);
                };

                console.log("PAPER initialized!")
            }

            repaintPathRepository() {
                //clear everything:
                paper.project.activeLayer.removeChildren();
                //repaint
                let windowWidth = window.innerWidth;
                let windowHeight = window.innerHeight;
                this.pathRepository.forEach((pathObject) => {

                    let path = new paper.Path();
                    //show owner label on hover
                    path.onMouseEnter = (event) => {
                        //check canvas is visible & label not on cooldown:
                        // if (this.$.drawingCanvas.style.visibility === 'visible' && !this.labelcooldown) {
                        if (!this.labelcooldown) {
                            this.labelcooldown = true;

                            let labelPoint = event.point;
                            labelPoint.x += 20;
                            let labelText = new paper.PointText(labelPoint);
                            labelText.content = pathObject.owner;
                            labelText.style = {
                                fontFamily: 'Courier New',
                                fontWeight: 'bold',
                                fontSize: 14,
                                justification: 'left'
                            };
                            pathObject.labelText = labelText;

                            //label show delay:
                            setTimeout(() => {
                                this.labelcooldown = false;
                            }, 1000); //delay new
                        }
                    };

                    path.onMouseLeave = (event) => {
                        // if (this.$.drawingCanvas.style.visibility === 'visible') {
                        setTimeout(() => { //delay removal of label 750 msec.
                            if (pathObject.labelText !== undefined) {
                                pathObject.labelText.remove();
                            }
                        }, 750);
                        // }
                    };
                    pathObject.points.forEach((data) => {

                        path.add(new paper.Point(data[0] * windowWidth, data[1] * windowHeight));
                    });
                    path.strokeColor = pathObject.color;
                    path.strokeWidth = 4;
                });
            }

            dragDropEventListener() {
                if (this.stompClient !== undefined && this.stompClient.connected) {
                    console.log("send dragdrop.");
                    this.stompClient.send('/client/dragdrop/' + this.get('channel'), this.get('dragDropEvent'));
                } else {
                    console.log("dnd: ws not connected!");
                    // setTimeout(this.dragDropEventListener(),500);

                }
            }

            toggleCanvas() {
                this.$.drawingCanvas.style.visibility = this.$.drawingCanvas.style.visibility === 'visible' ? 'hidden' : 'visible';
                this.$.controlDraw.icon = this.$.controlDraw.icon === "create" ? 'close' : 'create';
                this.$.controlDraw.style.background = this.$.controlDraw.icon === 'create' ? 'green' : 'red';
                //this.$.colorpicker.style.visibility = this.$.colorpicker.style.visibility === 'visible' ? 'hidden' : 'visible';
                this.setupCanvas();
            }

            connectWebsocket() {
                this.disconnectWebsocket();

                this.stompClient = webstomp.over(new SockJS('/communication'));

                this.stompClient.connect({}, this.webSocketOnConnect.bind(this), this.webSocketOnError.bind(this));
                this.stompClient.debug = (message, data) => {
                    if (data !== undefined) {
                        //console.log(message, data);
                    } else {
                        //console.log(message);
                    }

                };
            }

            webSocketOnConnect(client) {
                console.log('Connected to WS!');
                // this.stompClient.subscribe('/subscribe/chat', (data) => {
                //     console.log("GOT: ", data.body);
                //     this.$.result.textContent = data.body;
                // });
                this.stompClient.subscribe('/subscribe/drawing/' + this.get('channel'), (data) => {

                    let pathObject = JSON.parse(data.body);
                    console.log("got", pathObject);
                    this.pathRepository.push(pathObject);
                    this.repaintPathRepository();
                });

                this.stompClient.subscribe('/subscribe/chat/' + this.get('channel'), (data) => {
                    console.log("got chat message: ", data.body);
                    let newMessage = JSON.parse(data.body);
                    this.push('messages', newMessage);

                });

                this.stompClient.subscribe('/subscribe/dragdrop/' + this.get('channel'), (data) => {
                    console.log("got drag-drop");
                    //propagate to server:
                    this.$server.handleAssignmentDragDropEvent(data.body);
                });
            }

            webSocketOnError(client) {
                console.log('WebSocket Error:', client);
                //show notification:
                if (client.headers !== undefined) {
                    this.showNotification(client.headers.message);
                } else {
                    this.showNotification('WebSocket error. - reconnecting')
                }
                setTimeout(() => {
                    this.connectWebsocket();
                }, 2000); //delay new

            }

            showNotification(text) {
                this.$.notification.setAttribute("text", text + " - reconnecting");
                //this.$.notification.style["--paper-toast-background-color"] = 'red';
                //this.$.notification.style["--paper-toast-color"] = 'white';
                this.$.notification.open();
            }

            disconnectWebsocket() {
                if (this.stompClient !== undefined) {
                    this.stompClient.disconnect();
                }
                console.log("Disconnected");
            }

            sendPathToWebsocket(pathObject) {

                if (this.stompClient !== undefined && this.stompClient.connected) {
                    // console.log("send path.");
                    this.stompClient.send('/client/drawing/' + this.get('channel'), JSON.stringify(pathObject));
                } else {
                    console.log("not connected!");
                }

            }

            sendChatMessageToWebsocket() {
                if (this.stompClient !== undefined && this.stompClient.connected && this.$.chatinput.value !== '') {
                    console.log("send message.");

                    let message = {
                        channel: this.get('channel'),
                        message: this.$.chatinput.value
                    };

                    this.stompClient.send('/client/chat/' + this.get('channel'), JSON.stringify(message));
                } else {
                    console.log("not connected!");
                }

                this.$.chatinput.value = '';
            }

        }

        window.customElements.define(CollaborationToolkit.is, CollaborationToolkit);
    </script>
</dom-module>