<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<!-- CHAT: -->
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<!-- MISC -->
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-scroll-target-behavior/iron-scroll-target-behavior.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">

<link rel="import" href="canvas-overlay.html">

<dom-module id="collaboration-toolkit">
    <template>
        <style>
            :host {
                --app-drawer-width: 25vw;
            }

            .wrapper {
                width: 100%;
                height: 100%;
            }

            #drawingCanvas {
                /*border: 1px solid green;*/
                width: 300px;
                background: red;

            }

            #toggle-container {
                @apply --layout-self-center;
                padding-left: 10px;
            }

            #chat {
                @apply --layout-flex;

                background: var(--google-grey-300);

            }

            #leftdrawer {
                margin-top: 20vh;
                margin-bottom: 20vh;
                overflow-y: auto;
                --app-drawer-content-container: {
                    background-color: transparent;
                }
            }

            #drawer-content {
                @apply --layout-horizontal;
                width: 100%;
                height: 100%;
            }

            #content {
                @apply --layout-vertical;
                @apply --layout-center-center;
                width: 100%;
                height: 100%;
                /*background: var(--google-grey-100);*/
            }

            #controlDraw {
                background: green;
            }

            #chatheader {

                @apply --paper-font-caption;
                background: var(--paper-deep-purple-300);
                height: 10%;
            }

            #chatbox {

                word-wrap: break-word;
                overflow-y: auto;
                height: 75%;

            }

            #chatcontrol {
                height: 10%;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            #messageheader {
                @apply --paper-font-caption;
            }

            #chatitem {
                background: white;
            }

        </style>


        <app-drawer-layout>

            <app-drawer id="leftdrawer" slot="drawer" position="left" opened>
                <div id="drawer-content">

                    <div id="toggle-container">
                        <paper-fab mini id="controlDraw" icon="create" label="derp"
                                   on-click="toggleCanvas"></paper-fab>

                        <paper-swatch-picker id="controlColor" color="{{selectedColor}}"></paper-swatch-picker>
                    </div>

                    <div id="chat">
                        <div id="chatheader">
                            <span>Chat</span>
                            <br>
                            <span>Channel: [[channel]]</span>
                        </div>
                        <div id="chatbox"> <!-- TODO: port to paper-material  -->
                            <template id="chatboxtemplate" is="dom-repeat" items="[[messages]]" as="message">
                                <span id="messageheader">{{message.author}} - at {{message.timestamp}}</span>
                                <paper-icon-item id="chatitem">
                                    <iron-icon icon="account-box" slot="item-icon"
                                               title="{{message.author}}"></iron-icon>
                                    {{message.message}}
                                </paper-icon-item>
                                <br>
                            </template>

                        </div>

                        <div id="chatcontrol">
                            <iron-a11y-keys
                                    id="chatEnterSubmit"
                                    keys="enter"
                                    on-keys-pressed="sendChatMessageToWebsocket">
                            </iron-a11y-keys>
                            <paper-input id="chatinput" placeholder="Type here!" required>
                                <iron-icon icon="send" slot="suffix"
                                           on-click="sendChatMessageToWebsocket"></iron-icon>
                            </paper-input>
                        </div>

                    </div>

                </div>
            </app-drawer>

            <!--<canvas id="drawingCanvas"></canvas>-->


            <div id="content">

                <!-- content injected here -->
                <slot></slot>

            </div>


        </app-drawer-layout>

        <!--TODO: work in progress...-->
        <canvas-overlay id="canvasoverlay" scroll-action="refit" no-overlap
                        tabindex=-1>
            <canvas id="drawingCanvas"></canvas>
        </canvas-overlay>

        <paper-toast id="notification" class="fit-bottom"></paper-toast>
    </template>

    <script>
        class CollaborationToolkit extends Polymer.Element {
            static get is() {
                return 'collaboration-toolkit';
            }

            static get properties() {
                return {
                    stompClient: {
                        type: Object
                    },
                    selectedColor: {
                        type: String,
                        value: '#E91E63'
                    },
                    channel: {
                        type: String,
                        value: '1337'
                    },

                    messages: {
                        type: Array,
                        value: [],
                        notify: true
                    }
                }
            }

            ready() {
                super.ready();

                this.$.chatEnterSubmit.target = this.$.chatinput;

                this.labelcooldown = false;
                this.pathRepository = [];


                paper.install(this);
                paper.setup(this.$.drawingCanvas);


                let tool = new paper.Tool();
                let currentPath = new paper.Path();

                // Define a mousedown, mousedrag and mouseup handler
                tool.onMouseDown = (event) => {
                    currentPath = new paper.Path();
                    currentPath.strokeColor = this.get('selectedColor');
                    currentPath.strokeWidth = 4;
                    currentPath.add(event.point);
                };

                tool.onMouseDrag = (event) => {
                    currentPath.add(event.point);

                };

                tool.onMouseUp = (event) => {
                    //

                    let currentPathObject = {owner: this.get('userName'), color: this.get('selectedColor'), points: []};
                    //translate point (currentPath.segments.[1]=x & [2]=y) to relative point against screen size: (works with identicle browsers...)
                    let windowWidth = window.innerWidth;
                    let windowHeight = window.innerHeight;
                    currentPath.segments.forEach((data) => {

                        currentPathObject.points.push([data.point.x / windowWidth, data.point.y / windowHeight]);

                    });

                    //add to repo
                    this.pathRepository.push(currentPathObject);
                    //remove last drawn Path from canvas:
                    currentPath.remove();
                    //repaint the hole thing
                    this.repaintPathRepository();
                    //send new Path to Websocket:
                    this.sendPathToWebsocket(currentPathObject);
                };
                //on new message -> scroll chat-window-to-bottom
                this.$.chatboxtemplate.addEventListener('dom-change', (event) => {

                    this.$.chatbox.scrollTop = this.$.chatbox.scrollHeight;
                });

                this.connectWebsocket();

            }

            repaintPathRepository() {
                //clear everything:
                paper.project.activeLayer.removeChildren();
                //repaint
                let windowWidth = window.innerWidth;
                let windowHeight = window.innerHeight;
                this.pathRepository.forEach((pathObject) => {

                    let path = new paper.Path();
                    //show owner label on hover
                    path.onMouseEnter = (event) => {
                        //check canvas is visible & label not on cooldown:
                        if (this.$.drawingCanvas.style.visibility === 'visible' && !this.labelcooldown) {
                            this.labelcooldown = true;

                            let labelPoint = event.point;
                            labelPoint.x += 20;
                            let labelText = new paper.PointText(labelPoint);
                            labelText.content = pathObject.owner;
                            labelText.style = {
                                fontFamily: 'Courier New',
                                fontWeight: 'bold',
                                fontSize: 14,
                                justification: 'left'
                            };
                            pathObject.labelText = labelText;

                            //label show delay:
                            setTimeout(() => {
                                this.labelcooldown = false;
                            }, 1000); //delay new
                        }
                    };

                    path.onMouseLeave = (event) => {
                        if (this.$.drawingCanvas.style.visibility === 'visible') {
                            setTimeout(() => { //delay removal of label 750 msec.
                                pathObject.labelText.remove();
                            }, 750);
                        }
                    };
                    pathObject.points.forEach((data) => {

                        path.add(new paper.Point(data[0] * windowWidth, data[1] * windowHeight));
                    });
                    path.strokeColor = pathObject.color;
                    path.strokeWidth = 4;
                });
            }

            toggleCanvas() {
                // this.$.drawingCanvas.style.visibility = this.$.drawingCanvas.style.visibility === 'visible' ? 'hidden' : 'visible';
                if (this.$.canvasoverlay.opened) {
                    this.$.canvasoverlay.close();
                } else {
                    this.$.canvasoverlay.open();
                }
                this.$.controlDraw.icon = this.$.controlDraw.icon === "create" ? 'close' : 'create';
                this.$.controlDraw.style.background = this.$.controlDraw.icon === 'create' ? 'green' : 'red';
                //this.$.colorpicker.style.visibility = this.$.colorpicker.style.visibility === 'visible' ? 'hidden' : 'visible';
            }

            connectWebsocket() {
                this.disconnectWebsocket();

                this.stompClient = webstomp.over(new SockJS('/communication'));

                this.stompClient.connect({}, this.webSocketOnConnect.bind(this), this.webSocketOnError.bind(this));
                this.stompClient.debug = (message, data) => {
                    if (data !== undefined) {
                        //console.log(message, data);
                    } else {
                        //console.log(message);
                    }

                };
            }

            webSocketOnConnect(client) {
                console.log('Connected: ', client);
                this.stompClient.subscribe('/subscribe/chat', (data) => {
                    console.log("GOT: ", data.body);
                    this.$.result.textContent = data.body;
                });
                this.stompClient.subscribe('/subscribe/drawing', (data) => {

                    let pathObject = JSON.parse(data.body);
                    console.log("got", pathObject);
                    this.pathRepository.push(pathObject);
                    this.repaintPathRepository();
                });

                this.stompClient.subscribe('/subscribe/chat/' + this.get('channel'), (data) => {
                    console.log("got chat message: ", data.body);
                    let newMessage = JSON.parse(data.body);
                    this.push('messages', newMessage);

                });
            }

            webSocketOnError(client) {
                console.log('WebSocket Error:', client);
                //show notification:
                if (client.headers !== undefined) {
                    this.showNotification(client.headers.message);
                } else {
                    this.showNotification('WebSocket error. - reconnecting')
                }
                setTimeout(() => {
                    this.connectWebsocket();
                }, 2000); //delay new

            }

            showNotification(text) {
                this.$.notification.setAttribute("text", text + " - reconnecting");
                //this.$.notification.style["--paper-toast-background-color"] = 'red';
                //this.$.notification.style["--paper-toast-color"] = 'white';
                this.$.notification.open();
            }

            disconnectWebsocket() {
                if (this.stompClient !== undefined) {
                    this.stompClient.disconnect();
                }
                console.log("Disconnected");
            }

            sendPathToWebsocket(pathObject) {

                if (this.stompClient !== undefined && this.stompClient.connected) {
                    console.log("send path.");
                    this.stompClient.send('/client/drawing', JSON.stringify(pathObject));
                } else {
                    console.log("not connected!");
                }

            }

            sendChatMessageToWebsocket() {
                if (this.stompClient !== undefined && this.stompClient.connected && this.$.chatinput.value !== '') {
                    console.log("send message.");

                    let message = {
                        //author: this.get('userName'),
                        channel: this.get('channel'),
                        message: this.$.chatinput.value
                    };

                    this.stompClient.send('/client/chat/' + this.get('channel'), JSON.stringify(message));
                } else {
                    console.log("not connected!");
                }

                this.$.chatinput.value = '';
            }

        }

        window.customElements.define(CollaborationToolkit.is, CollaborationToolkit);
    </script>
</dom-module>