<link rel="import" href="../bower_components/polymer/polymer-element.html">



<dom-module id="main-footer">
    <template>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">

        <footer class="w3-container w3-padding-64 w3-center w3-opacity" >
            <div class="w3-xlarge w3-padding-32">
                <i class="fab fa-facebook w3-hover-opacity"></i>
                <i class="fab fa-instagram w3-hover-opacity"></i>
                <i class="fab fa-snapchat w3-hover-opacity"></i>
                <i class="fab fa-pinterest-p w3-hover-opacity"></i>
                <i class="fab fa-twitter w3-hover-opacity"></i>
                <i class="fab fa-linkedin w3-hover-opacity"></i>
            </div>
        </footer>
    </template>
    <script>
        class MainFooter extends Polymer.Element {
            static get is(){
                return 'main-footer';
            }
        }
        window.customElements.define(MainFooter.is, MainFooter);
    </script>
</dom-module>