<link rel="import" href="../bower_components/polymer/polymer-element.html">



<dom-module id="main-nav">
    <template>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <div class="w3-top">
            <div id="nav-items" class="w3-bar w3-deep-purple w3-card w3-left-align w3-large">

            </div>
        </div>
    </template>
    <script>
        class MainNavigation extends Polymer.Element {
            static get is(){
                return 'main-nav';
            }
        }
        window.customElements.define(MainNavigation.is, MainNavigation);
    </script>
</dom-module>